@if (displayData) {
<div #card class="card" (pointermove)="onPointerMove($event)" (pointerleave)="onLeave()"
  (pointerenter)="onPointerEnter()" (click)="navigateToDetails()">
  <div class="event-bar" [class]="displayData.event.eventType">{{displayData.event.eventType}}</div>

  <div class="top-bar">
    <p class="card-title">{{displayData.event.title}}</p>
    <p class="creation-date">{{displayData.event.creationDate}}</p>
    <app-profile-pic [hover_text]="displayData.author.name" [pic_href]="displayData.author.picUrl"></app-profile-pic>
  </div>

  <div class="content card-body">
    <div class="image-container">
      <img src="/favicon.ico" alt="hamada">
    </div>
    @if (displayData.event.eventSize == EventSize.SMALL) {
    <div class="description">{{displayData.event.description | slice : 0 : 50}}</div>
    }
    @if (displayData.event.eventSize == EventSize.MID) {
    <div class="description">{{displayData.event.description | slice : 0 : 70 }}</div>
    }
    @if (displayData.event.eventSize == EventSize.LARGE) {
    <div class="description">{{displayData.event.description | slice : 0 : 150}}</div>
    }
  </div>

  <div class="bottom-bar">
    <button class="btn btn-outline-primary btn-lg" (click)="upvote(); $event.stopPropagation()">
      <i class="fa-solid fa-arrow-up"></i>
      <span class="count">{{ upVote }}</span>
    </button>
    <button class="btn btn-outline-danger btn-lg" (click)="downvote(); $event.stopPropagation()">
      <i class="fa-solid fa-arrow-down"></i>
      <span class="count">{{ downVote }}</span>
    </button>
    <button class="btn btn-outline-warning btn-lg" [class.fa-solid]="star" [class.fa-regular]="!star" class="fa-star"
      (click)="toggleStar(); $event.stopPropagation()">
    </button>
  </div>

</div>
}

<!--<script>-->
<!--  const card = document.querySelector('.card');-->
<!--  const rect = card.getBoundingClientRect();-->
<!--  card.addEventListener('pointermove', ()=> {-->
<!--    const x = e.client - rect.left;-->
<!--    const y = e.client - rect.top;-->

<!--    const center_x = rect.width / 2;-->
<!--    const center_y = rect.height / 2;-->

<!--    const norm_x = (x - center_x)/ center_x;-->
<!--    const norm_y = (y - center_y)/ center_y;-->
<!--    // To be in range [-1,1]-->

<!--    card.style.transform = `rotateX(${norm_x * 8}deg) rotateY(${norm_y * 4}deg)`;-->
<!--  });-->
<!--</script>-->