@if (displayData) {
<div #card class="card" (pointermove)="onPointerMove($event)" (pointerleave)="onLeave()"
  (pointerenter)="onPointerEnter()" (click)="navigateToDetails()">
  <div class="event-bar" [class]="displayData.event.eventType">{{displayData.event.eventType}}</div>

  <div class="top-bar">
    <div class="title-group">
      <p class="card-title">{{displayData.event.title}}</p>
      <div class="meta-info">
        <p class="creation-date">{{getFormattedDate()}}</p>
        <p class="remaining-time">{{getExpirationTime()}}</p>
      </div>
    </div>
    <app-profile-pic [hover_text]="displayData.author.name" [pic_href]="displayData.author.picUrl"
      [userId]="displayData.author.id"></app-profile-pic>
  </div>

  <div class="content card-body">
    @if (displayData.event.eventSize !== EventSize.SMALL && cardImageUrl) {
    <div class="image-container">
      <img [src]="cardImageUrl" alt="event-preview">
    </div>
    }
    @if (displayData.event.eventSize == EventSize.SMALL) {
    <div class="description">{{displayData.event.description | slice : 0 : 50}}</div>
    }
    @if (displayData.event.eventSize == EventSize.MID) {
    <div class="description">{{displayData.event.description | slice : 0 : 70 }}</div>
    }
    @if (displayData.event.eventSize == EventSize.LARGE) {
    <div class="description">{{displayData.event.description | slice : 0 : 150}}</div>
    }
  </div>

  <div class="bottom-bar">
    <div class="action-group">
      <button class="btn btn-lg upvote-btn" [class.active]="userVoteState === 'upvote'"
        (click)="upvote(); $event.stopPropagation()">
        <i class="fa-solid fa-arrow-up"></i>
        <span class="count">{{ upVote }}</span>
      </button>
      <button class="btn btn-lg downvote-btn" [class.active]="userVoteState === 'downvote'"
        (click)="downvote(); $event.stopPropagation()">
        <i class="fa-solid fa-arrow-down"></i>
        <span class="count">{{ downVote }}</span>
      </button>
      <button class="btn btn-lg star-btn" [class.active]="star" (click)="toggleStar(); $event.stopPropagation()">
        <i [class.fa-solid]="star" [class.fa-regular]="!star" class="fa-star"></i>
      </button>
    </div>

    @if (displayData.event.customUrl) {
    <a [href]="displayData.event.customUrl" target="_blank" class="external-link" (click)="$event.stopPropagation()"
      title="Open external link">
      <i [class]="getExternalLinkIcon()"></i>
    </a>
    }
  </div>

</div>
}

<!--<script>-->
<!--  const card = document.querySelector('.card');-->
<!--  const rect = card.getBoundingClientRect();-->
<!--  card.addEventListener('pointermove', ()=> {-->
<!--    const x = e.client - rect.left;-->
<!--    const y = e.client - rect.top;-->

<!--    const center_x = rect.width / 2;-->
<!--    const center_y = rect.height / 2;-->

<!--    const norm_x = (x - center_x)/ center_x;-->
<!--    const norm_y = (y - center_y)/ center_y;-->
<!--    // To be in range [-1,1]-->

<!--    card.style.transform = `rotateX(${norm_x * 8}deg) rotateY(${norm_y * 4}deg)`;-->
<!--  });-->
<!--</script>-->