:host {
  flex: 1;
}
.top-bar, .bottom-bar {
  display: flex;
  padding: var(--padding-sm);
  /*margin: 1rem;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  width: 100%;
  font-weight: bold;
}
.bottom-bar button {
  cursor: pointer;
  width: 100%;
  padding: var(--padding-med);
  margin: 0.25rem;
  border: none;
}

.card-title{
  font-weight: 800;
  font-size: var(--font-size-med);
}
.creation-date {
  font-size: var(--font-size-sm);
  margin: 0.25rem;
  color: var(--secondary-color-mid);
}

.content {
  font-size: var(--font-size-sm);
  padding: var(--padding-med);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color-light);
  opacity: 85%;
  border-radius: var(--radius-med);
  height: 100%;
  box-shadow: var(--card-shadow);
  overflow: hidden;
  will-change: transform;
  min-width: 25rem;
}
.card:hover {
  opacity: 100%;
}

.hackathon {
  background-color: var(--hackathon-color);
}
.release {
  background-color: var(--release-color);
}
.contest {
  background-color: var(--contest-color);
}
.event-bar {
  font-family: var(--font-wide-bold), sans-serif;
  color: rgba(245, 245, 245, 0.68);
  font-size: var(--event-type-font-size);
  font-weight: 300;
  width: 100%;
  text-align: start;
  padding: var(--padding-x-sm);
  border-radius: 0 0 1.5rem 0;
}

:host.small {
  flex: 1;
  /*grid-column: span 3;*/
  /*min-width: 50rem;*/
}
:host.medium {
  flex: 2;
  /*min-width: 50rem;*/
  /*grid-column: span 2;*/
}
:host.large {
  flex: 5;
  /*min-width: 50rem;*/
  /*grid-column: span 1;*/
}


