<div id="event-builder" class="commonContainer">

  <h2>Make Your Event</h2>

  <form #f=ngForm (ngSubmit)="onSubmit(f)" class="event-form">

    <div class="event-top">
      <input type="text" class="inputField title-input" [(ngModel)]="title" name="title" placeholder="Event Title">


      <div class="custom-select-container">
        <div class="selected-option" (click)="toggleDropdown()" [class.active]="isDropdownOpen">
          {{ selectedFlare || 'Choose a flare' }}
          <span class="arrow" [class.rotated]="isDropdownOpen">▼</span>
        </div>
        @if (isDropdownOpen) {
        <div class="options-list">
          @for (flare of flares; track $index) {
          <div class="option-item" (click)="selectFlare(flare)" [class.selected]="selectedFlare === flare">
            {{ flare }}
          </div>
          }
        </div>
        }
      </div>
    </div>

    <textarea class="inputField description-field" placeholder="Write the Description" [(ngModel)]="description"
      name="description" required rows="1">
    </textarea>

    <div class="event-bottom">
      <button type="button" class="commonButtonTheme add-image-btn" (click)="addImage()">add image</button>

      <button type="submit" class="commonButtonTheme">Submit</button>
    </div>

  </form>

</div>