@if (cardData && cardData.communityData) {
<div class="card" (click)="emit_selection()">
  <div class="content">
    <div class="main-info">
      <h2 class="name">{{cardData.communityData.name}}</h2>
      @if (cardData.communityData.memberCount !== undefined) {
      <span class="member-count">{{cardData.communityData.memberCount}} members</span>
      }
    </div>

    <div class="actions">
      @if (!isMember) {
      <button class="membership-btn join-btn" (click)="onJoin($event)">Join</button>
      } @else {
      <button class="membership-btn leave-btn" (click)="onLeave($event)">Leave</button>
      }
    </div>
  </div>
  @if (cardData.currentlySelected) {
  <div class="selected">
    You are here
  </div>
  }
</div>

}