<div class="toast-container">
    @for (toast of toasts$ | async; track toast.id) {
    <div class="toast" [className]="'toast ' + toast.type">
        <div class="toast-icon">
            @switch (toast.type) {
            @case (ToastType.SUCCESS) { <i class="fa-solid fa-circle-check"></i> }
            @case (ToastType.ERROR) { <i class="fa-solid fa-circle-exclamation"></i> }
            @case (ToastType.WARNING) { <i class="fa-solid fa-triangle-exclamation"></i> }
            @case (ToastType.INFO) { <i class="fa-solid fa-circle-info"></i> }
            }
        </div>
        <div class="toast-message">{{ toast.message }}</div>
        <button class="toast-close" (click)="remove(toast.id)">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    }
</div>