#top-bar {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 2.5rem; */
}
#home {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary-color-dark);
    text-decoration: none;
}

#profile {
    width: 11rem;
    display: flex;
    justify-content: flex-end;
}