.top-bar {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding: .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 2.5rem; */
}
.home {
    font-family: var(--font-main), sans-serif;
    height: 3.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary-color-dark);
    text-decoration: none;
    background-image: url('../../../../public/logo.png');
    aspect-ratio: 27/9;
    background-size: cover;
    background-position: center;
}
.profile {
    width: 11rem;
    display: flex;
    justify-content: flex-end;
}
