.top-bar {
  background-color: var(--top-bar-color);
  padding: var(--padding-x-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  flex: 1;
}

.right_side {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.home {
  font-family: var(--font-main), sans-serif;
  height: var(--logo-height);
  color: var(--primary-color-dark);
  text-decoration: none;
  background-image: var(--logo);
  aspect-ratio: var(--logo-aspect-ratio);
  display: block;
  background-size: cover;
  background-position: center;
}

.hamburger {
  font-size: var(--top-bar-btn-font-size);
  color: var(--primary-color-dark);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  transform: scale(1.04);
}

.profile {
  display: flex;
  margin-right: var(--top-bar-inline-margin);
  justify-content: flex-end;
  flex: 1;
}