#verificationCard * {
    margin: 0.5rem 0;
}

#verificationCard h2 {
  text-align: center;
}

button[type="submit"] {
  width: 100%;
  margin-top: 1rem; /* not working for some god forsaken reason*/
}

#verificationCode {
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem; /* not working for some god forsaken reason*/
}

#labelVerification {
  text-align: left;
  width: 100%;
}

#formVer {
  width: 100%;
}

#formVer * {
  width: 100%;
}
