#verificationCard * {
    margin: 0.5rem 0;
}

#verificationCard h2 {
  width: 100%;
  overflow-wrap: break-word;
}

#formVer {
  width: 100%;
}

#formVer * {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  margin-top: 1rem; /* not working for some god forsaken reason*/
}

#verificationCode {
  display: block;
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem; /* not working for some god forsaken reason*/
}

#labelVerification {
  text-align: left;
  width: 100%;
}

