#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;

}

.top-bar {
  z-index: 1000;
  width: 100%;
  box-shadow: var(--top-bar-shadow);
}
.page-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  /*height: 90vh;*/
}

.billboard{
  height: 100%;
  overflow-y: scroll;
  flex: 2;
}
.comm_selector {
  height: 100%;
  overflow-y: scroll;
  max-width: 40rem;
  flex: 1;
}
.new_event {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6rem;
  aspect-ratio: 1;
  font-size: var(--font-size-x-lg);
  padding: var(--padding-lg);
  border-radius: var(--circular-radius);
  background-color: var(--card-color-light);
  color: var(--primary-color-dark);
  transition: transform 0.2s ease-in-out , border 0.2s ease-in-out;
  box-shadow: var(--dark-shadow);
  border: var(--button-border);
}
.new_event:hover {
  transform: scale(1.05);
  border: var(--button-border-hover);
  animation: pulsing 2s infinite;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.42);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.builder {
  transform: translateY(100vh);
  transition: all 0.35s ease-in-out;
}
@media (max-width: 1000px) {
  .comm_selector{
    display: none;
  }
}

