@if (isLoading) {
<div class="loading-container">
  <div class="spinner"></div>
  <p>Loading your events...</p>
</div>
}

@if (error) {
<div class="error-container">
  <p class="error-message">{{ error }}</p>
</div>
}

@if (!isLoading && events.length === 0 && !error) {
<app-empty-page iconSrc="/my-post-icon.svg" title="You haven't created any events yet!"
  sub_title="Start by creating your first event" />
}

@if (!isLoading && events.length > 0) {
<div class="events-container">
  @for (event of events; track event.event.id) {
  <app-event-card [displayData]="event"></app-event-card>
  }
</div>
}