#resetPasswordCard {
    margin: 50px auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

p {
  color: red;
}

#resetPasswordCard h2 {
  text-align: center;
  overflow-wrap: break-word;
}

#resetPasswordCard * {
  margin: 0.5rem;
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  margin-top: 1rem;
}


#formMaster {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

#formMaster button {
  margin-top: 1.5rem;
}


