.container {
    height: var(--searchbox-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: var(--padding-sm);

}
button {
    background-color: var(--inactive-color-light);
    border: var(--textbox-border);
    color: var(--primary-color-dark);
    padding: var(--padding-med);
    border-radius: var(--blob-radius);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    height: 100%;

}
button:hover {
    background-color: var(--primary-color-light);
    color: whitesmoke;
    box-shadow: var(--box-focus-shadow);
}
input {
    background-color: var(--inactive-color-light);
    border-radius: var(--blob-radius);
    border: var(--textbox-border);
    padding: 0.75rem;
    outline: none;
    font-size: var(--font-size-sm);
    height: 100%;
    width: var(--searchbox-width);
    /*flex: 1;*/
    transition: background-color 0.2s ease-in-out ,border 0.1s ease-in-out;
}

input:hover{
    background-color: var(--textbox-hover-bg-color);
    border: var(--textbox-border-hover);
}

input:focus {
    border: 3px solid var(--primary-color-light);
    box-shadow: var(--box-focus-shadow);
}
